<nav class="navbar bg-dark navbar-expand-lg navbar-dark bg-dark">
    <div class="container justify-content-center">
        <ul class="navbar-nav ms-auto">
        <a class="navbar-brand" href="{% url "url-welcome" %}"><h2>Blog</h2></a>
        <div class="collapse navbar-collapse">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link">Hi <b>{{request.user}}</b>&nbsp&nbsp | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "url-signout" %}">SignOut</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>