{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{post.title}}
{% endblock title %}

{% block body %}
<form method='post' enctype="multipart/form-data">
    {% csrf_token %}

    <div class="flex-center">
        <div class="card" style="width: 80%;">
            
            <div class="card-header">
                <b>&nbsp📝&nbspEdit Post</b>
            </div>

            <div class="card-body">

                <div class="input-group mb-3">
                    <input required name={{form.title.name}} type="text" class="form-control" placeholder={{form.title.label}}>
                </div>
                
                <div class="input-group mb-3">
                    <input required name={{form.description.name}} type="text" class="form-control" placeholder={{form.description.label}}>
                </div>

                <div class="mb-3">
                    <input name="image" class="form-control" type="file" label="Select Image">
                </div>
            
                {% include "includes/ckeditor.html" with name='content' %}
                
                <div class="mb-3">
                    {% include "includes/errors.html" %}
                </div>
                
                <div class="input-group mb-3 d-flex justify-content-center">
                    <button class="btn btn-success" type="submit" style="width: 12rem; margin-top: 1rem;">Create Post</button>
                </div>
                
            </div>
            
        </div>
    </div>

</form>
{% endblock body %}