{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{post.title}}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'post/css/post-detail.css' %}">
{% endblock css %}

{% block body %}
<section id="summary">
    <h2>{{post.title}}</a></h2>
    <article>
        <img src="{{ post.image.url }}" class="rounded" alt={{post.title}}/>
        <address>By <a href="mailto:{{post.author.email}}">{{post.author.first_name}} {{post.author.last_name}}</a></address>
        <div>
            Last updated on <time>{{post.date|date:"D, dS M Y"}}</time>
        </div>
    </article>
</section>
<main>
    {{post.content|safe}}
</main>
{% endblock body %}