{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{post.title}}
{% endblock title %}

{% block css %}
    {% comment %} <link rel="stylesheet" href="{% static 'post/css/post-detail.css' %}"> {% endcomment %}
{% endblock css %}

{% block body %}
<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <script>
            CKEDITOR.replace('content');
    </script>
    <button type="submit">Create</button>
    {% include 'errors.html' %}
</form>
{% endblock body %}