{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'post/css/welcome.css' %}">
    <link rel="stylesheet" href="{% static 'post/css/post.css' %}">
{% endblock css %}

{% block body %}

    <section id ="welcome">
        <header>
            <img src="{% static 'post/images/dp.jpg' %}" alt="Simon Alphonse - Author of the blog"/>
            <h2>Simon Alphonse</h2>
        </header>
        <p>I'm a .NET and Python developer working at Ideas2It.</p>
    </section>

    <section id="latest-posts">
        <h2>Latest Posts</h2>
        <ul>
            {% for post in posts %}
                {% include "post/includes/post-preview.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>I love programming, playing table tennis, enjoy photography and riding cycle</p>
        <p>Good luck have fun !</p>
    </section>

{% endblock body %}