{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'post/css/post.css' %}">
{% endblock css %}

{% block body %}

    <section id ="banner">
        <h2>Latest Posts</h2>
    </section>

    <section id="posts-contianer">
        <ul>
            {% for post in posts %}
                {% include "post/includes/post-preview.html" %}
            {% endfor %}
        </ul>
    </section>

{% endblock body %}